In [16]:
!pip install numpy 
!pip install pandas

Requirement already satisfied: numpy in d:\github desk\movie_recommendation_system\movie\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\github desk\movie_recommendation_system\movie\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\github desk\movie_recommendation_system\movie\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from scikit-learn) (2.0.1)
Requirement already satisfied: scipy>=1.6.0 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\github desk\movie_recommendation_system\movie\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import numpy as np 
import pandas as pd

In [19]:
df_standard1=pd.read_csv('TMDB_movies_Hindi.csv')
df_standard2=pd.read_csv('TMDB.csv')

In [20]:
df_standard=pd.concat([df_standard1,df_standard2],axis=0)

In [21]:
df_standard.columns

Index(['movie_id', 'title', 'overview', 'keywords', 'genres', 'release_date',
       'original_language', 'original_title', 'production_companies',
       'revenue', 'status', 'tagline', 'spoken_languages', 'runtime', 'budget',
       'vote_count', 'vote_average', 'popularity', 'adult_tf', 'poster_path',
       'cast', 'crew', 'Unnamed: 0'],
      dtype='object')

In [22]:
df_standard.sample(3)

,movie_id,title,overview,keywords,genres,release_date,original_language,original_title,production_companies,revenue,...,runtime,budget,vote_count,vote_average,popularity,adult_tf,poster_path,cast,crew,Unnamed: 0
1204,499727,Chudail No. 1,Chudail No. 1 is a horror film where a raped g...,"[{'id': 240997, 'name': 'chudail'}]","[{'id': 27, 'name': 'Horror'}]",7/16/1999,hi,Chudail No. 1,"[{'id': 99857, 'logo_path': None, 'name': 'Rac...",26622,...,92,31320,0,0.000,0.600,False,/hhPuF6eJlNxyFevQG6MWzJ3oGmq.jpg,"[{'adult': False, 'gender': 2, 'id': 86245, 'k...","[{'adult': False, 'gender': 0, 'id': 1798137, ...",NaN
7429,44982,13,A naive young man assumes a dead man's identit...,"[{'id': 242, 'name': 'new york city'}, {'id': ...","[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",2010-03-12,en,13,"[{'id': 838, 'logo_path': '/tcW3UqV46Mdq6GyaS1...",3317662,...,91,0,675,5.779,15.585,False,/eJAVjARKe3YBabnbhdbYWXD7Hdg.jpg,"[{'adult': False, 'gender': 2, 'id': 32987, 'k...","[{'adult': False, 'gender': 1, 'id': 2952, 'kn...",7430.0
2178,9730,Friday the 13th: The Final Chapter,After being mortally wounded and taken to the ...,"[{'id': 586, 'name': 'new jersey'}, {'id': 188...","[{'id': 27, 'name': 'Horror'}]",1984-04-13,en,Friday the 13th: The Final Chapter,"[{'id': 4, 'logo_path': '/gz66EfNoYPqHTYI4q9UE...",32980880,...,91,2600000,1052,6.110,27.822,False,/5KRBkaF6PdorcFjWiDY4tJy67Jf.jpg,"[{'adult': False, 'gender': 1, 'id': 2174, 'kn...","[{'adult': False, 'gender': 2, 'id': 3103, 'kn...",2179.0

In [23]:
# column that going to use

df=df_standard[['movie_id','title','overview','genres','production_companies','cast', 'crew']]

In [24]:
df

,movie_id,title,overview,genres,production_companies,cast,crew
0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[{'id': 113699, 'logo_path': None, 'name': 'El...","[{'adult': False, 'gender': 1, 'id': 550167, '...","[{'adult': False, 'gender': 2, 'id': 1071, 'kn..."
1,592508,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 7294, 'logo_path': '/kK4PRgceWp9KNrycD...","[{'adult': False, 'gender': 2, 'id': 35070, 'k...","[{'adult': False, 'gender': 2, 'id': 35070, 'k..."
2,20453,3 Idiots,Rascal. Joker. Dreamer. Genius... You've never...,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...","[{'id': 3781, 'logo_path': None, 'name': 'Vidh...","[{'adult': False, 'gender': 2, 'id': 52763, 'k...","[{'adult': False, 'gender': 2, 'id': 35779, 'k..."
3,26022,My Name Is Khan,"Rizwan Khan, a Muslim from the Borivali sectio...","[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...","[{'id': 43, 'logo_path': '/4RgIPr55kBakgupWkzd...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,767377,Dhamaka,When a cynical ex-TV news anchor gets an alarm...,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 7819, 'logo_path': '/ghFZAt4edln0M7BzD...","[{'adult': False, 'gender': 2, 'id': 1846859, ...","[{'adult': False, 'gender': 2, 'id': 53677, 'k..."
...,...,...,...,...,...,...,...
9995,18674,The Bodyguard from Beijing,A corrupt businessman commits a murder and the...,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 2521, 'logo_path': '/e9lXexogBN1nOXA8a...","[{'adult': False, 'gender': 2, 'id': 1336, 'kn...","[{'adult': False, 'gender': 2, 'id': 1336, 'kn..."
9996,354861,Father Figures,Upon learning that their mother has been lying...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1088, 'logo_path': '/9WOE5AQUXbOtLU6GT...","[{'adult': False, 'gender': 2, 'id': 887, 'kno...","[{'adult': False, 'gender': 2, 'id': 561, 'kno..."
9997,17687,The Public Enemy,"Two young Chicago hoodlums, Tom Powers and Mat...","[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...","[{'id': 174, 'logo_path': '/IuAlhI9eVC9Z8UQWOI...","[{'adult': False, 'gender': 2, 'id': 5788, 'kn...","[{'adult': False, 'gender': 2, 'id': 7650, 'kn..."
9998,535437,Swiped,"James, a college freshman and computer genius,...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 106566, 'logo_path': None, 'name': 'Ni...","[{'adult': False, 'gender': 2, 'id': 1253353, ...","[{'adult': False, 'gender': 0, 'id': 1314158, ..."
9999,24739,Miracle Mile,"After 30 years of searching, Harry has finally...","[{'id': 10749, 'name': 'Romance'}, {'id': 878,...","[{'id': 3952, 'logo_path': None, 'name': 'Hemd...","[{'adult': False, 'gender': 2, 'id': 11085, 'k...","[{'adult': False, 'gender': 2, 'id': 601, 'kno..."

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11322 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              11322 non-null  int64
 1   title                 11322 non-null  object
 2   overview              11237 non-null  object
 3   genres                11322 non-null  object
 4   production_companies  11322 non-null  object
 5   cast                  11322 non-null  object
 6   crew                  11322 non-null  object
dtypes: int64(1), object(6)
memory usage: 707.6+ KB

In [26]:
df.isnull().sum()

movie_id                 0
title                    0
overview                85
genres                   0
production_companies     0
cast                     0
crew                     0
dtype: int64

In [27]:
df.dropna(inplace=True)
df.shape

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18900\2053667463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

(11237, 7)

In [28]:
df=df.drop_duplicates()
df.shape

(10209, 7)

In [31]:
import ast

In [32]:
def fetch_genres(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [33]:
df['genres']=df['genres'].apply(fetch_genres)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18900\854254530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres']=df['genres'].apply(fetch_genres)

In [34]:
def fetch_production_comapanies(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [35]:
df['production_companies']=df['production_companies'].apply(fetch_production_comapanies)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18900\2741529245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['production_companies']=df['production_companies'].apply(fetch_production_comapanies)

In [36]:
def fetch_cast(text):
    l=[]
    counter=0
    for i in ast.literal_eval(text):
        if counter != 3:
            l.append(i['original_name'])
            counter+=1
        else:
            break
    return l

In [37]:
df['cast']=df['cast'].apply(fetch_cast)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18900\4229633367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply(fetch_cast)

In [38]:
df['crew'][7].values

array(["[{'adult': False, 'gender': 2, 'id': 85446, 'known_for_department': 'Directing', 'name': 'Ramesh Sippy', 'original_name': 'Ramesh Sippy', 'popularity': 2.121, 'profile_path': '/cI0ToZpcju84KjmXSzRuTD8a9V2.jpg', 'credit_id': '52fe44d59251416c7504299d', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 2, 'id': 81984, 'known_for_department': 'Writing', 'name': 'Javed Akhtar', 'original_name': 'Javed Akhtar', 'popularity': 1.337, 'profile_path': '/qKnvYtFvox7BhHy2Nx6YbcuSuIB.jpg', 'credit_id': '56128bb1925141478d00bd1b', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 2, 'id': 81986, 'known_for_department': 'Writing', 'name': 'Salim Khan', 'original_name': 'Salim Khan', 'popularity': 1.932, 'profile_path': None, 'credit_id': '56128ba6c3a36868170154eb', 'department': 'Writing', 'job': 'Writer'}, {'adult': False, 'gender': 2, 'id': 86366, 'known_for_department': 'Sound', 'name': 'Kishore Kumar', 'original_name': 'Kishore Kumar', 'popularity': 1.845, 'profile_path': '/ihdicjOHFThEy898RJYmP3rNkv6.jpg', 'credit_id': '591330e8c3a36864fc055d8a', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 2, 'id': 88141, 'known_for_department': 'Sound', 'name': 'Rahul Dev Burman', 'original_name': 'Rahul Dev Burman', 'popularity': 1.96, 'profile_path': '/gR83FY1TkYkcRCsxZVXOXSwTzbV.jpg', 'credit_id': '56418d2292514128a1001cb8', 'department': 'Sound', 'job': 'Music'}, {'adult': False, 'gender': 2, 'id': 88141, 'known_for_department': 'Sound', 'name': 'Rahul Dev Burman', 'original_name': 'Rahul Dev Burman', 'popularity': 1.96, 'profile_path': '/gR83FY1TkYkcRCsxZVXOXSwTzbV.jpg', 'credit_id': '59133149c3a36864a7054e00', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 2, 'id': 131907, 'known_for_department': 'Production', 'name': 'G.P. Sippy', 'original_name': 'G.P. Sippy', 'popularity': 1.166, 'profile_path': None, 'credit_id': '56418cd192514128a1001cac', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 0, 'id': 1035289, 'known_for_department': 'Art', 'name': 'Ram Yedekar', 'original_name': 'Ram Yedekar', 'popularity': 1.106, 'profile_path': None, 'credit_id': '56418d5f92514128af001b4e', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 0, 'id': 1035289, 'known_for_department': 'Art', 'name': 'Ram Yedekar', 'original_name': 'Ram Yedekar', 'popularity': 1.106, 'profile_path': None, 'credit_id': '56418d6892514128a4001d4e', 'department': 'Art', 'job': 'Art Direction'}, {'adult': False, 'gender': 0, 'id': 1035292, 'known_for_department': 'Costume & Make-Up', 'name': 'Dinu Indulkar', 'original_name': 'Dinu Indulkar', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418d92c3a3685bd6001e55', 'department': 'Costume & Make-Up', 'job': 'Makeup Artist'}, {'adult': False, 'gender': 0, 'id': 1533853, 'known_for_department': 'Camera', 'name': 'Dwarka Divecha', 'original_name': 'Dwarka Divecha', 'popularity': 0.98, 'profile_path': None, 'credit_id': '56418d35c3a3685bd6001e3e', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 0, 'id': 1533855, 'known_for_department': 'Costume & Make-Up', 'name': 'M.S. Deepak', 'original_name': 'M.S. Deepak', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418d89925141289e001b33', 'department': 'Costume & Make-Up', 'job': 'Makeup Artist'}, {'adult': False, 'gender': 0, 'id': 1533856, 'known_for_department': 'Costume & Make-Up', 'name': 'Lily', 'original_name': 'Lily', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418dbbc3a3685bd9001d93', 'department': 'Costume & Make-Up', 'job': 'Hairstylist'}, {'adult': False, 'gender': 0, 'id': 1533857, 'known_for_department': 'Costume & Make-Up', 'name': 'Sarosh B. Modi', 'original_name': 'Sarosh B. Modi', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418dc5925141289e001b41', 'department': 'Costume & Make-Up', 'job': 'Makeup Artist'}, {'adult': False, 'gender': 0, 'id': 1533858, 'known_for_department': 'Costume & Make-Up', 'name': 'Parvati', 'original_name': 'Parvati', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418deec3a3685bdc001c73', 'department': 'Costume & Make-Up', 'job': 'Hairstylist'}, {'adult': False, 'gender': 0, 'id': 1533859, 'known_for_department': 'Production', 'name': 'Aziz Bhai', 'original_name': 'Aziz Bhai', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418dfac3a3685be2001b67', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 0, 'id': 1533860, 'known_for_department': 'Production', 'name': 'Suresh Desai', 'original_name': 'Suresh Desai', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e06c3a3685bd6001e63', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 0, 'id': 1533861, 'known_for_department': 'Production', 'name': 'Rajan Walia', 'original_name': 'Rajan Walia', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e19c3a3685be5001b44', 'department': 'Production', 'job': 'Production Manager'}, {'adult': False, 'gender': 0, 'id': 1533862, 'known_for_department': 'Directing', 'name': 'A.R. Balan', 'original_name': 'A.R. Balan', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e25925141289e001b58', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 1533863, 'known_for_department': 'Directing', 'name': 'Kishen Bishen', 'original_name': 'Kishen Bishen', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e2e925141289e001b5d', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 1533864, 'known_for_department': 'Directing', 'name': 'Khalish Lucknavi', 'original_name': 'Khalish Lucknavi', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e3692514128af001b77', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 1533865, 'known_for_department': 'Directing', 'name': 'Sharad Palekar', 'original_name': 'Sharad Palekar', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e4092514128ad001c4c', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 0, 'id': 1533866, 'known_for_department': 'Directing', 'name': 'D.R. Thakkar', 'original_name': 'D.R. Thakkar', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418e4f92514128a9001be7', 'department': 'Directing', 'job': 'Assistant Director'}, {'adult': False, 'gender': 1, 'id': 1608033, 'known_for_department': 'Sound', 'name': 'Lata Mangeshkar', 'original_name': 'Lata Mangeshkar', 'popularity': 1.4, 'profile_path': '/1JgCDCQpi3KIasQykS3Bd0IHGpp.jpg', 'credit_id': '5913312cc3a36864c6056539', 'department': 'Sound', 'job': 'Playback Singer'}, {'adult': False, 'gender': 2, 'id': 1707463, 'known_for_department': 'Editing', 'name': 'M.S. Shinde', 'original_name': 'M.S. Shinde', 'popularity': 0.6, 'profile_path': None, 'credit_id': '56418d5592514128b2001ccc', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 2, 'id': 1741599, 'known_for_department': 'Sound', 'name': 'Manna Dey', 'original_name': 'Manna Dey', 'popularity': 1.005, 'profile_path': '/dMPt0FzzBEXG7b9ZTd6hEIc2kw2.jpg', 'credit_id': '5913313c9251414ead052e40', 'department': 'Sound', 'job': 'Playback Singer'}]",
       "[{'adult': False, 'gender': 1, 'id': 494, 'known_for_department': 'Production', 'name': 'Terri Taylor', 'original_name': 'Terri Taylor', 'popularity': 6.563, 'profile_path': None, 'credit_id': '63462598b3e627008281db60', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 2, 'id': 2127, 'known_for_department': 'Production', 'name': 'James Wan', 'original_name': 'James Wan', 'popularity': 23.502, 'profile_path': '/bNJccMIKzCtYnndcOKniSKCzo5Y.jpg', 'credit_id': '5b4fa176c3a368305a013da4', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 2, 'id': 2127, 'known_for_department': 'Production', 'name': 'James Wan', 'original_name': 'James Wan', 'popularity': 23.502, 'profile_path': '/bNJccMIKzCtYnndcOKniSKCzo5Y.jpg', 'credit_id': '60ad27262973380041b3ae95', 'department': 'Writing', 'job': 'Story'}, {'adult': False, 'gender': 2, 'id': 12653, 'known_for_department': 'Art', 'name': 'Kim Sinclair', 'original_name': 'Kim Sinclair', 'popularity': 1.205, 'profile_path': None, 'credit_id': '61eca10f3faba0001d41e8be', 'department': 'Art', 'job': 'Production Design'}, {'adult': False, 'gender': 2, 'id': 84348, 'known_for_department': 'Production', 'name': 'Jason Blum', 'original_name': 'Jason Blum', 'popularity': 3.654, 'profile_path': '/9tm1oUdA6HOUaaS4bwWI2ihmBVt.jpg', 'credit_id': '5b4fa17f0e0a264b7d0181c7', 'department': 'Production', 'job': 'Producer'}, {'adult': False, 'gender': 2, 'id': 104054, 'known_for_department': 'Acting', 'name': 'Judson Scott', 'original_name': 'Judson Scott', 'popularity': 1.882, 'profile_path': '/u4RtHhi8KNpuQU5vTlKDDa1bRgM.jpg', 'credit_id': '5b4fa1fac3a368305e0188aa', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 132295, 'known_for_department': 'Production', 'name': 'Adam Hendricks', 'original_name': 'Adam Hendricks', 'popularity': 1.4, 'profile_path': '/7kcQ3d1paU0C66SMR2DWtMjKIJX.jpg', 'credit_id': '63458c411b7c590081c09b74', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 186478, 'known_for_department': 'Camera', 'name': 'Simon Raby', 'original_name': 'Simon Raby', 'popularity': 1.73, 'profile_path': '/x324UomOCLH39Z3kELK7Qx0Oh7u.jpg', 'credit_id': '63462518b7a1540079356205', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 2, 'id': 558231, 'known_for_department': 'Editing', 'name': 'Jeff McEvoy', 'original_name': 'Jeff McEvoy', 'popularity': 1.4, 'profile_path': None, 'credit_id': '63b615177ac82900ae51ea58', 'department': 'Editing', 'job': 'Editor'}, {'adult': False, 'gender': 1, 'id': 1016177, 'known_for_department': 'Production', 'name': 'Miranda Rivers', 'original_name': 'Miranda Rivers', 'popularity': 1.4, 'profile_path': None, 'credit_id': '6346258f9bcd0f007d31d695', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 1, 'id': 1255540, 'known_for_department': 'Acting', 'name': 'Allison Williams', 'original_name': 'Allison Williams', 'popularity': 16.761, 'profile_path': '/yBolxMiZL1EjmNogPzTAuT85qad.jpg', 'credit_id': '63458c10d6c300007aa369d6', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 1288796, 'known_for_department': 'Directing', 'name': 'Gerard Johnstone', 'original_name': 'Gerard Johnstone', 'popularity': 8.141, 'profile_path': '/1XmsujVNMWzKQYsMSCBoM56fouW.jpg', 'credit_id': '5b4fa156c3a368304b016a9d', 'department': 'Directing', 'job': 'Director'}, {'adult': False, 'gender': 1, 'id': 1327476, 'known_for_department': 'Writing', 'name': 'Akela Cooper', 'original_name': 'Akela Cooper', 'popularity': 7.635, 'profile_path': '/wmcLZ4DV6L1RZ5Jq67w9sbpZtt8.jpg', 'credit_id': '63b5c5a1c56d2d0089b3bded', 'department': 'Writing', 'job': 'Screenplay'}, {'adult': False, 'gender': 1, 'id': 1327476, 'known_for_department': 'Writing', 'name': 'Akela Cooper', 'original_name': 'Akela Cooper', 'popularity': 7.635, 'profile_path': '/wmcLZ4DV6L1RZ5Jq67w9sbpZtt8.jpg', 'credit_id': '6346cbfdb3e627007dd24974', 'department': 'Writing', 'job': 'Story'}, {'adult': False, 'gender': 0, 'id': 1369374, 'known_for_department': 'Sound', 'name': 'Kyle Arzt', 'original_name': 'Kyle Arzt', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63b5173338e510007d6a5b64', 'department': 'Sound', 'job': 'Sound Re-Recording Mixer'}, {'adult': False, 'gender': 0, 'id': 1394768, 'known_for_department': 'Camera', 'name': 'Peter McCaffrey', 'original_name': 'Peter McCaffrey', 'popularity': 0.666, 'profile_path': None, 'credit_id': '61eca0e917c443001be64d4d', 'department': 'Camera', 'job': 'Director of Photography'}, {'adult': False, 'gender': 2, 'id': 1415009, 'known_for_department': 'Sound', 'name': 'Joel Dougherty', 'original_name': 'Joel Dougherty', 'popularity': 0.84, 'profile_path': '/w1y27VYNCRMwHU6OfJU3yU2Zoz4.jpg', 'credit_id': '63b5174b875d1a008a4ca438', 'department': 'Sound', 'job': 'Sound Re-Recording Mixer'}, {'adult': False, 'gender': 2, 'id': 1451992, 'known_for_department': 'Sound', 'name': 'P.K. Hooker', 'original_name': 'P.K. Hooker', 'popularity': 1.4, 'profile_path': None, 'credit_id': '63b5175d9715ae00913cea2e', 'department': 'Sound', 'job': 'Sound Designer'}, {'adult': False, 'gender': 2, 'id': 1451992, 'known_for_department': 'Sound', 'name': 'P.K. Hooker', 'original_name': 'P.K. Hooker', 'popularity': 1.4, 'profile_path': None, 'credit_id': '63b517565ad76b00e6faafc2', 'department': 'Sound', 'job': 'Supervising Sound Editor'}, {'adult': False, 'gender': 2, 'id': 1453475, 'known_for_department': 'Acting', 'name': 'Ryan Turek', 'original_name': 'Ryan Turek', 'popularity': 4.014, 'profile_path': '/wg4gC4k106UUbZ0PVVIjs6lHc1X.jpg', 'credit_id': '63458c2a5b4fed007fe808f7', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 0, 'id': 1495179, 'known_for_department': 'Sound', 'name': 'James Miller', 'original_name': 'James Miller', 'popularity': 0.98, 'profile_path': None, 'credit_id': '63b5176b1d1bf400828a2ef1', 'department': 'Sound', 'job': 'Sound Editor'}, {'adult': False, 'gender': 0, 'id': 1531091, 'known_for_department': 'Costume & Make-Up', 'name': 'Daniel Cruden', 'original_name': 'Daniel Cruden', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63462562d55c3d0091b5d32d', 'department': 'Costume & Make-Up', 'job': 'Costume Designer'}, {'adult': False, 'gender': 2, 'id': 1533528, 'known_for_department': 'Production', 'name': 'Mark David Katchur', 'original_name': 'Mark David Katchur', 'popularity': 1.35, 'profile_path': None, 'credit_id': '63458c1c2dffd8007a397db5', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 1533528, 'known_for_department': 'Production', 'name': 'Mark David Katchur', 'original_name': 'Mark David Katchur', 'popularity': 1.35, 'profile_path': None, 'credit_id': '634625a771ffdf007fb14920', 'department': 'Production', 'job': 'Unit Production Manager'}, {'adult': False, 'gender': 1, 'id': 1533529, 'known_for_department': 'Production', 'name': 'Sarah Domeier Lindo', 'original_name': 'Sarah Domeier Lindo', 'popularity': 1.046, 'profile_path': None, 'credit_id': '63462583b3e627008281db53', 'department': 'Production', 'job': 'Casting'}, {'adult': False, 'gender': 0, 'id': 1652044, 'known_for_department': 'Sound', 'name': 'Christopher Bonis', 'original_name': 'Christopher Bonis', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63b5173f38e51000a0ed64d1', 'department': 'Sound', 'job': 'Sound Effects Editor'}, {'adult': False, 'gender': 0, 'id': 1797245, 'known_for_department': 'Costume & Make-Up', 'name': 'Stefan Knight', 'original_name': 'Stefan Knight', 'popularity': 0.6, 'profile_path': None, 'credit_id': '634625bc2dffd8008212634e', 'department': 'Costume & Make-Up', 'job': 'Makeup Department Head'}, {'adult': False, 'gender': 0, 'id': 1799444, 'known_for_department': 'Production', 'name': 'Greg Gilreath', 'original_name': 'Greg Gilreath', 'popularity': 0.696, 'profile_path': None, 'credit_id': '63458c4b7a97ab008281f3ec', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 2, 'id': 1800923, 'known_for_department': 'Production', 'name': 'Michael Clear', 'original_name': 'Michael Clear', 'popularity': 1.4, 'profile_path': None, 'credit_id': '5b4fa1ebc3a368305e018895', 'department': 'Production', 'job': 'Executive Producer'}, {'adult': False, 'gender': 0, 'id': 1828134, 'known_for_department': 'Directing', 'name': 'Joe Nolan', 'original_name': 'Joe Nolan', 'popularity': 0.656, 'profile_path': None, 'credit_id': '634625df699fb70079072c8f', 'department': 'Directing', 'job': 'First Assistant Director'}, {'adult': False, 'gender': 2, 'id': 1929760, 'known_for_department': 'Art', 'name': 'Ben Milsom', 'original_name': 'Ben Milsom', 'popularity': 1.058, 'profile_path': None, 'credit_id': '634625545b4fed007ae8446b', 'department': 'Art', 'job': 'Art Direction'}, {'adult': False, 'gender': 0, 'id': 2020744, 'known_for_department': 'Art', 'name': 'Sean Keenan', 'original_name': 'Sean Keenan', 'popularity': 1.05, 'profile_path': None, 'credit_id': '63462533d34eb30079fe7bba', 'department': 'Art', 'job': 'Set Decoration'}, {'adult': False, 'gender': 0, 'id': 2060866, 'known_for_department': 'Art', 'name': 'Electra Sinclair', 'original_name': 'Electra Sinclair', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63b517289715ae008a6e6d26', 'department': 'Art', 'job': 'Assistant Art Director'}, {'adult': False, 'gender': 0, 'id': 2144533, 'known_for_department': 'Art', 'name': 'Vanessa Cole', 'original_name': 'Vanessa Cole', 'popularity': 1.617, 'profile_path': None, 'credit_id': '634625271b7c59007919a93c', 'department': 'Art', 'job': 'Set Decoration'}, {'adult': False, 'gender': 0, 'id': 2806855, 'known_for_department': 'Directing', 'name': 'Stephen W. Moore', 'original_name': 'Stephen W. Moore', 'popularity': 0.98, 'profile_path': None, 'credit_id': '63462613b7a154007cc7b812', 'department': 'Directing', 'job': 'First Assistant Director'}, {'adult': False, 'gender': 0, 'id': 3215469, 'known_for_department': 'Directing', 'name': 'Esther Collas', 'original_name': 'Esther Collas', 'popularity': 0.6, 'profile_path': None, 'credit_id': '634625edd6c300008218f9f5', 'department': 'Directing', 'job': 'Third Assistant Director'}, {'adult': False, 'gender': 2, 'id': 3546891, 'known_for_department': 'Sound', 'name': 'Ryan A. Sullivan', 'original_name': 'Ryan A. Sullivan', 'popularity': 0.6, 'profile_path': '/xKKa9rSQipSVjFxrXIKMk8SvdJU.jpg', 'credit_id': '63b5177bc56d2d0089b38364', 'department': 'Sound', 'job': 'Sound Effects Editor'}, {'adult': False, 'gender': 0, 'id': 3736815, 'known_for_department': 'Directing', 'name': 'Jessica Blennerhassett', 'original_name': 'Jessica Blennerhassett', 'popularity': 0.6, 'profile_path': None, 'credit_id': '634625f87a97ab0082822843', 'department': 'Directing', 'job': 'Third Assistant Director'}, {'adult': False, 'gender': 0, 'id': 3736816, 'known_for_department': 'Directing', 'name': 'Charlie Elson', 'original_name': 'Charlie Elson', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63462605d55c3d007a1accda', 'department': 'Directing', 'job': 'Second Second Assistant Director'}, {'adult': False, 'gender': 0, 'id': 3736817, 'known_for_department': 'Costume & Make-Up', 'name': 'Sarah-Joy Lawrence', 'original_name': 'Sarah-Joy Lawrence', 'popularity': 0.6, 'profile_path': None, 'credit_id': '63462636d6c300007f5fb33c', 'department': 'Costume & Make-Up', 'job': 'Costume Assistant'}]"],
      dtype=object)

In [39]:
import ast
import pandas as pd

def fetch_director(text):
    directors = []
    try:
        # Safely evaluate the string to a Python object
        data_list = ast.literal_eval(text)
        
        # Check if the evaluated object is a list
        if isinstance(data_list, list):
            for item in data_list:
                if item.get('department') == 'Directing':
                    directors.append(item.get('original_name'))
    except (ValueError, SyntaxError) as e:
        print(f"Error parsing input: {e}")
    return directors

In [40]:
# Apply the fetch_director function to create a new column with the directors
df['crew'] = df['crew'].apply(fetch_director)

# Delete rows where the directors list is empty
df = df[df['crew'].apply(lambda x: isinstance(x, list) and len(x) > 0)]

Error parsing input: unterminated string literal (detected at line 1) (<unknown>, line 1)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18900\3410522352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(fetch_director)

In [41]:
df

,movie_id,title,overview,genres,production_companies,cast,crew
0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","[Action, Comedy, Crime]","[Ellipsis Entertainment, Sony Pictures Films I...","[Taapsee Pannu, Tahir Raj Bhasin, Shreya Dhanw...",[Aakash Bhatia]
1,592508,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...","[Action, Crime, Thriller]","[Reliance Entertainment, Dharma Productions, R...","[Akshay Kumar, Katrina Kaif, Ajay Devgn]",[Rohit Shetty]
3,26022,My Name Is Khan,"Rizwan Khan, a Muslim from the Borivali sectio...","[Drama, Romance]","[Fox Searchlight Pictures, Red Chillies Entert...","[Shah Rukh Khan, Kajol, Jimmy Shergill]","[Karan Johar, Karan Malhotra, Varun Dhawan, Ab..."
4,767377,Dhamaka,When a cynical ex-TV news anchor gets an alarm...,"[Thriller, Drama, Crime]","[Lotte Entertainment, RSVP Movies, Ram Madhvan...","[Kartik Aaryan, Amruta Subhash, Mrunal Thakur]","[Ram Madhvani, Manohar Verma]"
5,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...,"[Action, Adventure, Fantasy]","[Star Studios, Prime Focus, Dharma Productions...","[Ranbir Kapoor, Alia Bhatt, Mouni Roy]",[Ayan Mukerji]
...,...,...,...,...,...,...,...
9990,667969,Birds of Paradise,Two dancers at an elite ballet academy in Pari...,[Drama],"[Big Indie Pictures, Anonymous Content, Amazon...","[Diana Silvers, Kristine Froseth, Eva Lomby]",[Sarah Adina Smith]
9994,736820,Confidential Assignment 2: International,Follows Rim Chul Ryung heading back to South K...,"[Action, Comedy]","[CJ Entertainment, JK Film]","[Hyun Bin, Yoo Hae-jin, Yoona]",[Lee Suk-hoon]
9996,354861,Father Figures,Upon learning that their mother has been lying...,[Comedy],"[Alcon Entertainment, The Montecito Picture Co...","[Owen Wilson, Ed Helms, J.K. Simmons]","[Lawrence Sher, Gail Hunter]"
9997,17687,The Public Enemy,"Two young Chicago hoodlums, Tom Powers and Mat...","[Crime, Drama]","[Warner Bros. Pictures, The Vitaphone Corporat...","[James Cagney, Jean Harlow, Edward Woods]",[William A. Wellman]
9999,24739,Miracle Mile,"After 30 years of searching, Harry has finally...","[Romance, Science Fiction, Thriller, Drama]","[Hemdale Film, Miracle Mile Productions Inc.]","[Anthony Edwards, Mare Winningham, John Agar]",[Steve De Jarnatt]

In [42]:
import re

def remove_noise(text):
    text = re.sub(r'[^a-zA-Z]', ' ', text)
    text = re.sub(r'\s+', '', text)
    text = text.strip()
    return text

In [43]:
df['overview']=df['overview'].apply(remove_noise)

In [44]:
df['overview']=df['overview'].apply(lambda X:X.split( ))

In [45]:
df['data']=df['cast']+df['crew']+df['genres']+df['overview']+df['production_companies']

In [46]:
new_df=df[['movie_id','title','data']]

In [47]:
new_df

,movie_id,title,data
0,783461,Looop Lapeta,"[Taapsee Pannu, Tahir Raj Bhasin, Shreya Dhanw..."
1,592508,Sooryavanshi,"[Akshay Kumar, Katrina Kaif, Ajay Devgn, Rohit..."
3,26022,My Name Is Khan,"[Shah Rukh Khan, Kajol, Jimmy Shergill, Karan ..."
4,767377,Dhamaka,"[Kartik Aaryan, Amruta Subhash, Mrunal Thakur,..."
5,496331,Brahmāstra Part One: Shiva,"[Ranbir Kapoor, Alia Bhatt, Mouni Roy, Ayan Mu..."
...,...,...,...
9990,667969,Birds of Paradise,"[Diana Silvers, Kristine Froseth, Eva Lomby, S..."
9994,736820,Confidential Assignment 2: International,"[Hyun Bin, Yoo Hae-jin, Yoona, Lee Suk-hoon, A..."
9996,354861,Father Figures,"[Owen Wilson, Ed Helms, J.K. Simmons, Lawrence..."
9997,17687,The Public Enemy,"[James Cagney, Jean Harlow, Edward Woods, Will..."
9999,24739,Miracle Mile,"[Anthony Edwards, Mare Winningham, John Agar, ..."

In [48]:
new_df=new_df.reset_index()
new_df=new_df.drop('index',axis=1)

In [50]:

def remove_whitespaces(text):
    return [re.sub(r'\s+', '', word) for word in text]

new_df['data']=new_df['data'].apply(remove_whitespaces)

In [58]:
new_df

,movie_id,title,data
0,783461,Looop Lapeta,"[taapseepannu, tahirrajbhasin, shreyadhanwanth..."
1,592508,Sooryavanshi,"[akshaykumar, katrinakaif, ajaydevgn, rohitshe..."
2,26022,My Name Is Khan,"[shahrukhkhan, kajol, jimmyshergill, karanjoha..."
3,767377,Dhamaka,"[kartikaaryan, amrutasubhash, mrunalthakur, ra..."
4,496331,Brahmāstra Part One: Shiva,"[ranbirkapoor, aliabhatt, mouniroy, ayanmukerj..."
...,...,...,...
10130,667969,Birds of Paradise,"[dianasilvers, kristinefroseth, evalomby, sara..."
10131,736820,Confidential Assignment 2: International,"[hyunbin, yoohae-jin, yoona, leesuk-hoon, acti..."
10132,354861,Father Figures,"[owenwilson, edhelms, j.k.simmons, lawrenceshe..."
10133,17687,The Public Enemy,"[jamescagney, jeanharlow, edwardwoods, william..."
10134,24739,Miracle Mile,"[anthonyedwards, marewinningham, johnagar, ste..."

In [53]:
import nltk
from nltk.stem import WordNetLemmatizer

nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

new_df['data'] = new_df['data'].apply(lambda text: [lemmatizer.lemmatize(x.lower()) for x in text])

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [59]:
new_df

,movie_id,title,data
0,783461,Looop Lapeta,"[taapseepannu, tahirrajbhasin, shreyadhanwanth..."
1,592508,Sooryavanshi,"[akshaykumar, katrinakaif, ajaydevgn, rohitshe..."
2,26022,My Name Is Khan,"[shahrukhkhan, kajol, jimmyshergill, karanjoha..."
3,767377,Dhamaka,"[kartikaaryan, amrutasubhash, mrunalthakur, ra..."
4,496331,Brahmāstra Part One: Shiva,"[ranbirkapoor, aliabhatt, mouniroy, ayanmukerj..."
...,...,...,...
10130,667969,Birds of Paradise,"[dianasilvers, kristinefroseth, evalomby, sara..."
10131,736820,Confidential Assignment 2: International,"[hyunbin, yoohae-jin, yoona, leesuk-hoon, acti..."
10132,354861,Father Figures,"[owenwilson, edhelms, j.k.simmons, lawrenceshe..."
10133,17687,The Public Enemy,"[jamescagney, jeanharlow, edwardwoods, william..."
10134,24739,Miracle Mile,"[anthonyedwards, marewinningham, johnagar, ste..."

In [66]:
new_df['data'] = new_df['data'].apply(lambda x: ' '.join(x))

In [71]:
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(stop_words='english')

features_data=cv.fit_transform(new_df['data'])

In [73]:
from sklearn.metrics.pairwise import cosine_similarity
simularity=cosine_similarity(features_data)
simularity

array([[1.        , 0.19069252, 0.        , ..., 0.1       , 0.09534626,
        0.        ],
       [0.19069252, 1.        , 0.07106691, ..., 0.        , 0.09090909,
        0.09090909],
       [0.        , 0.07106691, 1.        , ..., 0.        , 0.07106691,
        0.14213381],
       ...,
       [0.1       , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.09534626, 0.09090909, 0.07106691, ..., 0.        , 1.        ,
        0.09090909],
       [0.        , 0.09090909, 0.14213381, ..., 0.        , 0.09090909,
        1.        ]])